@model CreateEmployeeViewModel

@{
    ViewData["Title"] = "CreateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <h1>Register an Employee</h1>
        <hr />
        <form asp-action="CreateEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsManager" /> @Html.DisplayNameFor(model => model.IsManager)
                </label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="CompanyId"></label>
                    <select class="form-control js-get-departments" asp-for="CompanyId" asp-items="@(new SelectList(Model.Companies,"Id","Name", Model.CompanyId))">
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DepartmentId" id="cities"></label>
                    <select class="form-control js-set-departments" asp-for="DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id","Name", Model.DepartmentId))">
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="JobId"></label>
                    <select class="form-control" asp-for="JobId" asp-items="@(new SelectList(Model.Jobs,"Id","Name"))">
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SalaryAmount" class="control-label"></label>
                    <input asp-for="SalaryAmount" class="form-control" />
                    <span asp-validation-for="SalaryAmount" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="CurrencyId" id="cities"></label>
                    <select class="form-control" asp-for="CurrencyId" asp-items="@(new SelectList(Model.Currencies,"Id","Name", Model.CurrencyId))">
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="SalaryTypeId" id="cities"></label>
                    <select class="form-control" asp-for="SalaryTypeId" asp-items="@(new SelectList(Model.SalaryTypes,"Id","Name", Model.SalaryTypeId))">
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Address.AddressLine1"></label>
                    <input asp-for="Address.AddressLine1" class="form-control" />
                    <span asp-validation-for="Address.AddressLine1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Address.AddressLine2"></label>
                    <input asp-for="Address.AddressLine2" class="form-control" />
                    <span asp-validation-for="Address.AddressLine2" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Address.PostalCode"></label>
                    <input asp-for="Address.PostalCode" class="form-control" />
                    <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="CountryId"></label>
                    <select class="form-control js-get-cities" asp-for="CountryId" asp-items="@(new SelectList(Model.Countries,"Id","CombinedName", Model.CountryId))">
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CityId" id="cities"></label>
                    <select class="form-control js-set-cities" asp-for="CityId" asp-items="@(new SelectList(Model.Cities,"Id","Name", Model.CityId))">
                    </select>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Create employee" class="btn btn-primary flex-fill" />
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
