@model List<SalaryTypesAdminViewModel>

@{
    ViewData["Title"] = "Salary Types";
}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1 class="pt-5 pb-2 mb-3 ml-3 d-flex justify-content-center">Salary Types in system</h1>
        <div class="d-flex justify-content-center">
            <table class="table table-hover table-responsive js-table">
                <thead>
                    <tr>
                        <th>
                            <label class="text-nowrap" asp-for="@Model.FirstOrDefault().Id"></label>
                        </th>
                        <th>
                            <label class="text-nowrap" asp-for="@Model.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label class="text-nowrap" asp-for="@Model.FirstOrDefault().SalaryCount"></label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.SalaryCount
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-2"></div>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.js-table').DataTable({
                paging: false,
                searching: false,
                info: false,
            }
            );
        });
    </script>
}