@model List<EmployeesViewModel>


<h1 class="pt-5 pb-2 mb-3 ml-3">Employees under your management</h1>

<table id="employeesTable" class="table table-hover table-responsive ml-3">
    <thead>
        <tr>
            <th>
                <label class="text-nowrap" asp-for="@Model.FirstOrDefault().Name"></label>
            </th>
            <th>
                <label class="text-nowrap" asp-for="@Model.FirstOrDefault().Email"></label>
            </th>
            <th>
                <label class="text-nowrap" asp-for="@Model.FirstOrDefault().PhoneNumber"></label>
            </th>
            <th>
                <label class="text-nowrap" asp-for="@Model.FirstOrDefault().HiredDate"></label>
            </th>
            <th>
                <label class="text-nowrap" asp-for="@Model.FirstOrDefault().JobName"></label>
            </th>
            <th>
                <label class="text-nowrap" asp-for="@Model.FirstOrDefault().ScheduleName"></label>
            </th>
            <th>
                <label class="text-nowrap" asp-for="@Model.FirstOrDefault().Salary"></label>
            </th>
            <th>
                <label class="text-nowrap" asp-for="@Model.FirstOrDefault().Currency"></label>
            </th>
            <th>
                <label class="text-nowrap" asp-for="@Model.FirstOrDefault().SalaryTypeName"></label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @Html.DisplayFor(x => item.HiredDate)
                </td>
                <td>
                    @item.JobName
                </td>
                <td>
                    @item.ScheduleName
                </td>
                <td>
                    @item.Salary
                </td>
                <td>
                    @item.Currency
                </td>
                <td>
                    @item.SalaryTypeName
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#employeesTable').DataTable({
                paging: false,
                searching: false,
                info: false
            }
            );
        });
    </script>
}